<div class="nav-header">
    <div class="brand-logo">
        <a href="index.html">
            <b class="logo-abbr"><img src="~/adminweb/images/logo.png" alt=""> </b>
            <span class="logo-compact"><img src="~/adminweb/images/logo-compact.png" alt=""></span>
            <span class="brand-title">
                <img src="~/adminweb/images/logo-text.png" alt="">
            </span>
        </a>
    </div>
</div>

<div class="header">
    <div class="header-content clearfix">

        <div class="nav-control">
            <div class="hamburger">
                <span class="toggle-icon"><i class="icon-menu"></i></span>
            </div>
        </div>
        <div class="header-left">
            <div class="input-group icons">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                </div>
                <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                <div class="drop-down   d-md-none">
                    <form action="#">
                        <input type="text" class="form-control" placeholder="Search">
                    </form>
                </div>
            </div>
        </div>
        <div class="header-right">
            <ul class="clearfix">
                </li>
                <div class="drop-down dropdown-language animated fadeIn  dropdown-menu">
                    <div class="dropdown-content-body">
                        <ul>
                        </ul>
                    </div>
                </div>
                </li>
                <li class="icons dropdown">
                    <div class="icon-user c-pointer position-relative" data-toggle="dropdown">
                        <span class="activity active"></span>

                    </div>
                    <div class="drop-down dropdown-profile   dropdown-menu">
                        <div class="dropdown-content-body">
                            <ul>
                                <li>
                                    <a href="/Settings/Index/"><i class="icon-user"></i> <span>Profil</span></a>
                                </li>
                                <li>
                                    <a href="/AdminContact/Inbox/"><i class="icon-envelope-open"></i> <span>Gelen Kutusu</span> <div class="badge gradient-3 badge-pill badge-primary"></div></a>
                                </li>

                                <hr class="my-2">
                                <li>
                                    <a href="/Default/Index/"><i class="icon-lock"></i> <span>Ana Sayfa</span></a>
                                </li>
                                <li><a href="/Login/SignOut/"><i class="icon-key"></i> <span>Çıkış Yap</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Default/Index/" aria-expanded="false">
                    <i class="icon-plane menu-icon"></i><span class="nav-text">Siteye Git</span>
                </a>
            </li>
            <li>
                <a href="/Dashboard/Index/" aria-expanded="false">
                    <i class="icon-magic-wand menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/BookingAdmin/Index/" aria-expanded="false">
                    <i class="icon-calender menu-icon"></i><span class="nav-text">Rezervasyonlar</span>
                </a>
            </li>
            <li>
                <a href="/Staff/Index/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Personeller</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/Index/" aria-expanded="false">
                    <i class="icon-lock menu-icon"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
            <li>
                <a href="/Service/Index/" aria-expanded="false">
                    <i class="icon-clock menu-icon"></i><span class="nav-text">Hizmetler</span>
                </a>
            </li>
            <li>
                <a href="/AdminAbout/Index/" aria-expanded="false">
                    <i class="icon-info menu-icon"></i><span class="nav-text">Hakkımızda</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoom/Index/" aria-expanded="false">
                    <i class="icon-home menu-icon"></i><span class="nav-text">Odalar</span>
                </a>
            </li>
            <li>
                <a href="/Guest/Index/" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">Misafirler</span>
                </a>
            </li>
            <li>
                <a href="/AdminContact/Inbox/" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i><span class="nav-text">Mesajlar</span>
                </a>
            </li>
            <li>
                <a href="/AdminMail/Index/" aria-expanded="false">
                    <i class="icon-paper-clip menu-icon"></i><span class="nav-text">Mail İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/AdminImageFile/Index/" aria-expanded="false">
                    <i class="icon-energy menu-icon"></i><span class="nav-text">Resim İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/AdminFile/Index/" aria-expanded="false">
                    <i class="icon-film menu-icon"></i><span class="nav-text">Dosya İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/AdminUsers/UserList/" aria-expanded="false">
                    <i class="icon-user-follow menu-icon"></i><span class="nav-text">Kullanıcılar</span>
                </a>
            </li>
            <li>
                <a href="/WorkLocation/Index/" aria-expanded="false">
                    <i class="icon-puzzle menu-icon"></i><span class="nav-text">Otel Lokasyonları</span>
                </a>
            </li>
            <li>
                <a href="/Role/Index/" aria-expanded="false">
                    <i class="icon-game-controller menu-icon"></i><span class="nav-text">Roller</span>
                </a>
            </li>
            <li>
                <a href="/RoleAssign/Index/" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Rol Atamaları</span>
                </a>
            </li>
            <li>
                <a href="/Settings/Index/" aria-expanded="false">
                    <i class="icon-settings menu-icon"></i><span class="nav-text">Ayarlar</span>
                </a>
            </li>
            <li>
                <a href="/Default/Index/" aria-expanded="false">
                    <i class="icon-close menu-icon"></i><span class="nav-text">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </div>
</div>



<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Api Otel Admin Paneli</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/adminweb/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="~/adminweb/css/style.css" rel="stylesheet">

</head>

<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
        </svg>
    </div>
</div>

<script src="~/adminweb/plugins/common/common.min.js"></script>
<script src="~/adminweb/js/custom.min.js"></script>
<script src="~/adminweb/js/settings.js"></script>
<script src="~/adminweb/js/gleek.js"></script>
<script src="~/adminweb/js/styleSwitcher.js"></script>




<script src="~/adminweb/plugins/highlightjs/highlight.pack.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
