
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadPartial")
<body>

    <div class="container-xxl bg-white p-0">
        @await Component.InvokeAsync("_SpinnerPartial")

        @await Component.InvokeAsync("_NavbarPartial")

        @await Component.InvokeAsync("_SliderPartial")
        <div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container">
                <div class="bg-White" style="padding: 20px;">
                    <div class="row g-2">
                        <div class="col-md-10">
                            <div class="row g-2">
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        @await Component.InvokeAsync("_AboutUsPartial")

        @await Component.InvokeAsync("_TrailerPartial")

        @await Component.InvokeAsync("_RoomsPartial")

        @await Component.InvokeAsync("_TestimonialPartial")

        @await Component.InvokeAsync("_TeamPartial")


        @await Html.PartialAsync("/Views/Default/_SubscribePartial.cshtml")

        @await Component.InvokeAsync("_FooterPartial")

        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    @await Component.InvokeAsync("_ScriptsPartial")

</body>
</html>